<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link type="image/x-icon" rel="icon" href="{{ url_for('static', filename='assets/images/favicon.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADQS | Space Game</title>
  </head>
  <body>
    <header>
      <p>Space Game</p>
    </header>
      <div class="container">
        <div class="SpaceGame">
          <script type="module" src="../static/js/assets/game-CA5MwnbP.js"></script>
          <!-- <script type="module" src="../src/game.ts"></script> -->
        </div>
      </div>
    <footer>
      <p>Created By Team Six</p>
    </footer>
  </body>
</html>
